<div class="header color">
  <h1>Registration Form</h1>
</div>

<section>
  <div class="container">

    <!-- To Test FormControls -->
    <div class="col-md-12">{{registerationForm.value | json}}</div>
      <form id="form" [formGroup]="registerationForm">
          <div class="row form">
            <!--Dynamic Control Binding-->

            <div class="col-md-12" *ngFor="let control of dynamicFormArray">

              <div [ngSwitch]="control.Type">
                <div *ngSwitchCase="'input'">

                    <div class="col-md-4">
                      <label>{{control.Label}}</label>
                    </div>

                    <div class="col-md-6">
                      <input [formControlName]="control.ID" type="text" class="form-control">
                      <div *ngIf="this.registerationForm.get(control.ID)?.dirty || this.registerationForm.get(control.ID)?.touched ">

                          <small *ngIf="!this.registerationForm.get('{{control.ID}}')?.valid">{{control.Label}} is required</small>
                      </div>
                    </div>

                </div>

                <div *ngSwitchCase="'date'">

                  <div class="col-md-4">
                    <label>{{control.Label}}</label>
                  </div>

                  <div class="col-md-6">
                    <input [formControlName]="control.ID" type="date" class="form-control">
                  </div>

                </div>

                <div *ngSwitchCase="'radio'">
                  <div class="col-md-4">
                    <label>{{control.Label}}</label>
                  </div>

                  <div class="col-md-6" >
                    <label class="radio" *ngFor="let gender of control.Value.split(',')">
                      <input [formControlName]="control.ID" type="radio" name="{{control.ID}}" value="{{gender}}"  >
                      {{gender}}

                    </label>
                  </div>

                </div>

                <div *ngSwitchCase="'select'">

                  <div class="col-md-4">
                    <label>{{control.Label}}</label>
                  </div>

                  <div class="col-md-6">
                    <select [formControlName]="control.ID" class="form-control">
                        <option value="-1"> select </option>
                        <option *ngFor="let option of control.Value.split(',')" value="{{option}}">
                            {{option}}
                        </option>
                    </select>
                  </div>

                </div>
            </div>
            </div>

            <!--Dynamic Control Binding-->
          </div>

          <button class="btn-success w-100 mt-4 mb-5"> Submit </button>
      </form>

  </div>
</section>
